@import url(http://fonts.googleapis.com/css?family=Aguafina+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

body {
  color: #f0e7d5;
  background: #252525;
  background-attachment: fixed !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2a2a29), color-stop(100%, #1c1c1c));
  background: -webkit-linear-gradient(#2a2a29, #1c1c1c);
  background: -moz-linear-gradient(#2a2a29, #1c1c1c);
  background: -o-linear-gradient(#2a2a29, #1c1c1c);
  background: -ms-linear-gradient(#2a2a29, #1c1c1c);
  background: linear-gradient(#2a2a29, #1c1c1c);
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #efefef;
  background: #191919;
  font-size: 13px;
  margin: 0 4px;
  padding: 4px 6px;
  border: 1px solid #121212;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

pre {
  padding: 8px 15px;
  background: #191919;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #121212;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  overflow-y: hidden;
}
pre code {
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0;
  padding: 0;
}

a {
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #ffeb9b;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}


/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

#sig {
  float:left;
  margin-right:60px;
}

#sig h1 {
  font-family: 'Aguafina Script', cursive;
  font-size: 22px;
  margin:0px;
  text-shadow: 2px 2px 6px #666;
  filter: dropshadow(color=#666, offx=2, offy=2);
}
#sig p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:13px;
  color: #fff;
  margin:0px 0px 0px 30px;
  position:relative;
  top:-8px;
  text-shadow: 2px 2px 6px #666;
  filter: dropshadow(color=#666, offx=2, offy=2);
}

.navbar {
  background: url(/assets/themes/twitter/img/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.navbar-inner {
  background: transparent;
  border:none;
}

.navbar .nav li {
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.navbar .nav li a {
  padding:10px 15px 5px;
  color: #ffcc00;
  font-weight: 400;
  text-decoration: none;
  text-shadow: 2px 2px 6px #666;
  filter: dropshadow(color=#666, offx=2, offy=2);
}

.navbar .nav li a:hover {
  color: #ffeb9b;
}

.navbar .nav > .active > a {
  background:none;
  color: #ccc;
}

.navbar .nav > .active > a:focus, .navbar .nav > .active > a:hover {
  background:none;
  color: #ccc;
  text-shadow: 2px 2px 6px #000;
  filter: dropshadow(color=#000, offx=2, offy=2);
}

.page-header {
  border-bottom: 1px solid #434343;
}

hr {
  border:0;
  outline:none;
  height:3px;
  background: transparent url("/assets/themes/twitter/img/hr.gif") center center repeat-x;
}

.content {
  margin-top:100px;
}

footer {
  font-size: 0.83em;
  color:#666;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0 10px 0; 
}

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #ffcc00;
  color: rgb(60, 46, 18);
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #ffdd11; 
}

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #ddaa00; 
}

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
